<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
    <title>MooseX::amine</title>
    <link rel="stylesheet" href="<% request.uri_base %>/css/sh_vim-dark.css" />
    <script src="<% request.uri_base %>/js/sh_main.min.js" type="text/javascript"></script>
    <script src="<% request.uri_base %>/js/sh_perl.min.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
  </head>
  <body onload="sh_highlightDocument();">
    <% content %>
  </body>
</html>
