<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-type" content="text/html; charset=[% settings.charset %]" />
    <title>MooseX::amine</title>
<!--    <link rel="stylesheet" href="[% request.uri_base %]/css/style.css" /> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
    <script type=text/javascript
            src=http://github.com/balupton/jquery-syntaxhighlighter/raw/master/scripts/jquery.syntaxhighlighter.min.js></script>
    <script type=text/javascript>
      $.SyntaxHighlighter.init({
        theme: "google" ,
        lineNumbers: false
      });
    </script>
    <style>
      code { font-family: Consolas,"Andale Mono",monospace; }
code.prettyprint { border: 0px; }

pre {
    background: #eee;
    padding: 10px;
    border: 1px black solid;
    font-family: Consolas,"Andale Mono",monospace;
}
    </style>
  </head>
  <body>
    <% content %>
  </body>
</html>
